* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 10px solid #3e92cc;
    width: 600px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
}
.container .left, .right{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    text-decoration: none;
    background-color: #3e92cc;
    display: flex;
}
.left{
    left: -10px;
}
.right{
    right: -10px;
}
 .left>i, .right >i{
     margin: auto;
    font-size: 20px;
    color: white;    
}